:root {
    --primary-color: #722cf9;
    --border-radius: 0.4rem;
    --font-size: 1rem;
  }

.btn-c {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem; /* Increased padding */
    font-size: var(--font-size); /* Increased font size */
    line-height: 1.5;
    border-radius: 0.5rem; /* Increased border radius */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  /* Custom CSS for violet outline button */
  .btn-outline-violet {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: transparent; /* Remove background color */
  }
  .btn-outline-violet:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);;
  };

  /* Responsive Styles */
  @media (max-width: 576px) {
    .btn-c {
      padding: 0.4rem 0.8rem;
      font-size: var(--font-size);
      border-radius: var(--border-radius);
    }
  }

  @media (min-width: 576px) {
    .btn-c {
      padding: 0.5rem 1rem;
      font-size: var(--font-size);
      border-radius: var(--border-radius);
    }
  }

  @media (min-width: 768px) {
    .btn-c {
      padding: 0.5rem 1rem;
      font-size: var(--font-size);
      border-radius: var(--border-radius);
    }
  }

  @media (min-width: 992px) {
    .btn-c {
      padding: 0.5rem 1rem;
      font-size: var(--font-size);
      border-radius: var(--border-radius);
    }
  }

  @media (min-width: 1200px) {
    .btn-c {
      padding: 0.5rem 1rem;
      font-size: var(--font-size);
      border-radius: var(--border-radius);
    }
  }