@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    height: 600px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 250px;
}
.slide {
    margin-right: 40px;
    margin-top: 20px;
}